.example-viewport {
    height: 200px;
    width: 400px;
    border: 2px solid black;
  }
   
  .example-item {
    padding: 25px;
    background: grey;
    margin-bottom: 2px;
    text-align: center;
    font-size: 30px;
  }