.box{
    margin: 0 30%;
    padding: 45px;
    border: 1px solid red;
    background: white
}

.box label{
    color:#4285f4;
    font-size:10px
}
.box input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
.box input:focus {
    border: none;
    border-bottom: 1px solid red;
}


.box .submit{
    display: inline-block;
    padding: 30px
}

.box .submit a{
    padding-right:55px; 
}

.box .submit button{
    background:#4285f4
}
