.container {
    background: pink;width: 100%;
}
.nav {
    margin:0; padding: 0;
}
.nav ul{
    margin:0; padding: 0;
}
.nav ul li{
    margin:0 20px 0 0; padding: 10px;  background: green;  list-style: none; display: inline-block; color: white;
}
.nav ul li a{
    margin:0; padding: 0; color: red;
}
.nav ul li a:visited{
    margin:0; padding: 0; color: blue;
}
.nav ul li a:hover{
    margin:0; padding: 0; color: yellow;
}
.nav ul li a:active{
    margin:0; padding: 0; color: black;
}
